/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font: 15px Helvetica,"Helvetica Neue", Arial, sans-serif;
	color: #6F708B;
	font-weight: 100;
	background-color: #EAF4EC;
	overflow: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*START CSS HERE*/

h1 {
	font-size: 32px;
	font-weight: bold;
	letter-spacing: 0.1px;
	color: #2A1F3A;
	margin-bottom: 10px;
}

h6 {
	color: #9EA79F;
	font-size: 11px;
}

ul {
	margin-bottom: 10px;
}

ul li {
	display: inline-block;
	width: 140px;
	margin-right: 100px;
}


#wrap {
	width: 1100px;
	margin: auto;
}

#ground {
	width: 1100px;
	height: 3px;
	background-color: #2A1F3A;
	margin-bottom: 10px;
}

.snatched {
	display: none;
}

.circle {
    width: 200px;
    height: 200px;
	position: absolute;
    border-radius: 50%;
    background-color: #2A1F3A;
	color: #FFF;
	font-size: 10px;
	text-align: center;
	
}

.inner {
	width: 150px;
	height: 100px;
	padding: 14%;
	margin-top: 25%;
}

#footer {
	position: absolute;
	margin-top: 15px;
	bottom: 50px;
	
	width: 1100px;
}